In [2]:
import sqlalchemy as sa
import pandas as pd 
from sqlalchemy import text
from conector import enginesexy

In [43]:
df_totalC=pd.read_sql("""SELECT * FROM "CINES" """,
con=enginesexy)

In [ ]:
df_totalC

In [19]:
df_totalM=pd.read_sql("""SELECT * FROM "MUSEOS" """,
con=enginesexy)

In [20]:
df_totalM

,IdMuseos,IdProvincia,IdDepartamento,Cod_Loc,nombre,categoria,subcategoria,cod_area,Observaciones,Web,Info_adicional,telefono,Mail,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
11,690,46,46007,46007010,Museo Regional,Espacios de ExhibiciÃ³n Patrimonial,Museos,3827.0,None,None,None,420 115,None,DNPyM,Municipal,NaN,2017

In [93]:
df_totalB=pd.read_sql("""SELECT * FROM "BIBLIOTECA" """,
con=enginesexy)

In [94]:
df_totalB

,IdBiblioteca,IdProvincia,IdDepartamento,Cod_Loc,CategorÃ­a,Nombre,Cod_tel,Telefono,Mail,Observacion,Subcategoria,Web,InformaciÃ³n adicional,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
0,0,70,70049,70049060,Bibliotecas Populares,Biblioteca Popular Juan P. Garramuno,s/d,s/d,s/d,None,None,None,None,CONABIP,Comunitaria,1930.0,2018
1,1,2,2000,2000010,Bibliotecas Populares,Biblioteca Popular Helena Larroque de Roffo,11,45010078,asociacionroffo@yahoo.com.ar,None,None,None,None,CONABIP,Comunitaria,1916.0,2018
2,2,2,2000,2000010,Bibliotecas Populares,Biblioteca Popular 12 de Octubre,11,49880766,popular12deoctubre@hotmail.com,None,None,None,None,CONABIP,Comunitaria,1910.0,2018
3,3,2,2000,2000010,Bibliotecas Populares,Biblioteca Popular Villa PueyrredÃ³n Norte,11,45729107,bibliotecapueyrredon@hotmail.com,None,None,None,None,CONABIP,Comunitaria,1916.0,2018
4,4,2,2000,2000010,Bibliotecas Populares,Biblioteca Popular Alberdi,11,47753325,bibliotecapopularalberdi@yahoo.com.ar,None,None,None,None,CONABIP,Comunitaria,1910.0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,2012,62,62042,62042560,Bibliotecas Populares,El Progreso,s/d,s/d,"helda_33@hotmail.com, bibliotecaelprogreso@hot...",None,None,None,None,Secretaria de Cultura Provincial,Comunitaria,NaN,2018
2013,2013,70,70028,70028010,Bibliotecas Populares,Biblioteca Popular 23 de Septiembre,s/d,4331521,s/d,None,None,None,None,Gob. Pcia.,Comunitaria,NaN,2018
2014,2014,62,62007,62007080,Bibliotecas Populares,Prospero Entraigas,s/d,s/d,"biblio_sanjavier@hotmail.com;, andreaaranea03@...",None,None,None,None,Secretaria de Cultura Provincial,Comunitaria,NaN,2018
2015,2015,62,62077,62077010,Bibliotecas Populares,Cmte. Luis Piedra Buena,2934,497263,"bibliotecalasgrutas@yahoo.com.ar, alehernandez...",None,None,None,None,Secretaria de Cultura Provincial,Comunitaria,NaN,2018
2016,2016,62,62042,62042360,Bibliotecas Populares,JosÃ© HernÃ¡ndez,s/d,s/d,biblioteca.josehernandez.catriel@live.com,None,None,None,None,Secretaria de Cultura Provincial,Comunitaria,NaN,2018

In [24]:
df_total=pd.concat([df_totalM,df_totalB,df_totalC])
con=enginesexy.execute

In [26]:
df_total.columns

Index(['IdMuseos', 'IdProvincia', 'IdDepartamento', 'Cod_Loc', 'nombre',
       'categoria', 'subcategoria', 'cod_area', 'Observaciones', 'Web',
       'Info_adicional', 'telefono', 'Mail', 'fuente', 'jurisdiccion',
       'aÃ±o_inauguracion', 'actualizacion', 'IdBiblioteca', 'CategorÃ­a',
       'Nombre', 'Cod_tel', 'TelÃ©fono', 'Observacion', 'Subcategoria',
       'InformaciÃ³n adicional', 'Fuente', 'Tipo_gestion', 'aÃ±o_inicio',
       'AÃ±o_actualizacion', 'IdCines', 'Departamento', 'tipo_gestion',
       'Pantallas', 'Butacas', 'espacio_INCAA', 'aÃ±o_actualizacion'],
      dtype='object')

In [91]:
df_total.groupby('IdProvincia')[['CategorÃ­a', 'Fuente','IdMuseos']].count()

             CategorÃ­a  Fuente  IdMuseos
IdProvincia
6                     1       1         0
46                    0       0         1
54                    1       1         0

In [48]:
df_totalP=pd.read_sql("""SELECT * FROM "Provincia" """,
con=enginesexy)

In [50]:
df_totalP

    IdProvincia                         Provincia  IdDepartamento   Cod_Loc
0            70                          San Juan           70049  70049060
1             2  Ciudad AutÃ³noma de Buenos Aires            2000   2000010
2             6                      Buenos Aires            6049   6049020
3            30                       Entre RÃ­os           30098  30098040
4            82                          Santa Fe           82014  82014020
5            18                        Corrientes           18007  18007010
6            14                          CÃ³rdoba           14161  14161010
7            74                          San Luis           74007  74007070
8            86               Santiago del Estero           86077  86077010
9            90                          TucumÃ¡n           90077  90077010
10           50                           Mendoza           50021  50021010
11           46                          La Rioja           46042  46042010
12           10                         Catamarca           10021  10021020
13           66                             Salta           66035  66035020
14           38                             Jujuy           38014  38014040
15           22                             Chaco           22140  22140060
16           34                           Formosa           34014  34014020
17           54                          Misiones           54035  54035020
18           42                          La Pampa           42133  42133040
19           58                          NeuquÃ©n           58042  58042010
20           62                        RÃ­o Negro           62028  62028020
21           78                        Santa Cruz           78021  78021040
22           94                  Tierra del Fuego           94014  94014020
23           26                            Chubut           26077  26077040

In [58]:
df_total2=pd.concat([df_totalP,df_totalC])
con=enginesexy.execute

In [86]:
df_totalC.groupby('IdProvincia')[['Pantallas', 'Butacas', 'espacio_INCAA']].sum()

            Pantallas Butacas espacio_INCAA
IdProvincia
2                   2     250             0
6                   1     300             0
10                  5     743             0
14                  2     324             0
18                  1     240             0
22                  5     820             0
26                  1      80             0
30                  1     330             0
34                  1     565            si
38                  1     120            si
42                  1     114             0
46                  2     216             0
50                  2     284             0
54                  1     520             0
58                  7    1894             0
62                  1     661            si
66                  1     252             0
70                  5     849             0
74                  1     100             0
78                  3     290             0
82                  1     299             0
86                  1     233             0
90                  2     219             0
94                  2     584             0